//variables

$primary-color: #333;
$text-color: mix(#369369, #187187, 2);
$margin-primary: 20px;
$color: #896745; 


//Creating a Color Palette
// color: lighten();
// color: darken();
//color: complement();
// color: hue();
//color: desaturate();
// color: mix(#369369, #187187, #657489);
